    {{> header}}
    <p>{{screamIt welcomeMessage}}</p>
    <p>This is the home page.</p>
    <p><b>/views</b> is the default directory that Express uses for templates.</p>
    <p><b>res.render()</b> lets you render any of the templates you have set up with your current view engine.</p>
    <p>By default, nodemon does not watch .hbs files. Need to specify which extensions to watch. (Don't put space around comma)</p>
    <a href="/about">About</a>
    {{> footer}}
  </body>
</html>
